// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3 {
float:center;
	margin-left: 15px;
	padding-top: 120px;
}

.form-inputs {
	float:center;
	margin-left: 10px;
	padding-top: 10px;
}

.form-actions {
	float:center;
	margin-left: 10px;
	padding-top: 10px;
}